body{
    font-family: sans-serif;
}

header{
    /* border-color: aqua;
    border-style: groove; */
    display: flex;
    justify-content: space-between;
    margin: 1% 1%;
}

.nav-left{
    /* border-color: blueviolet;
    border-style: groove; */
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 0.5%;
    margin-right: 10%;
}

.nav-right{
    /* border-color: blueviolet;
    border-style: groove; */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0.5%;
    margin-left: 10%;
    gap: 20px;
}

.bt{
    display: flex;
    align-items: center;
    gap: 5%;
}

.bt-accedi{
    border: 0;
}

.bt-inizia{
    background-color: #0061FE;
    color: white;
    border: none;
}

main{
    /* border-color: red;
    border-style: groove; */
}

.container-azzurro{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #B4D0E6;
    z-index: 1;
    /* border-color: black;
    border-style: groove; */
}

.h1-azzurro{
    align-items: center;
    font-size: x-large;
    margin: 2% 15%;
}

.txt-azzurro{ 
    /* border-color: rgb(86, 247, 12);
    border-style: groove; */
    flex-direction: column;
    margin-right: 60%;
    margin-left: 15%;
    margin-bottom: 1%;
    gap: 10px;
}

.bt-arrow{
    display: flex;
    flex-direction: column;
    margin-right: 72%;
    margin-left: 15%;
    margin-bottom: 2%;
}

.bt-prova{
    color: white;
    background-color: #0061FE;
    border: 0;
}

.img1{
    height: 380px;
    width: auto;
    position: absolute;
    top: 38%;
    left: 40%;
}

.main-ristretto{
    /* border-style: groove;
    border-color: red; */
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 20%;
}

.down-azzurro{
    display: flex;
    justify-content: flex-start;
    margin-top: 10%;
}

.metodo-fatturazione{
    display: flex;
    justify-content: flex-start;;
    gap: 2%;
}

.tbl-prezzi{
    /* border-style: groove;
    border-color: red; */
    display: flex;
    justify-content: space-between;
    gap: 8%;
    padding: 3%;

}

.bt-30gg{
    background-color: #0061FE;
    color: white;
    border:  none;
}

.singolo{
    border-color: rgb(184, 183, 183);
    border-style: groove;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4%;
    gap: 1%;
}

.team{
    border-color: rgb(184, 183, 183);
    border-style: groove;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4%;
    gap: 1%;
}

.azienda{
    border-color: rgb(184, 183, 183);
    border-style: groove;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 4%;
    gap: 1%;
}

.tit-singolo{
    border-bottom: 1px solid rgb(184, 183, 183);
    display: flex;
    justify-content: center;
}

.tit-team{
    border-bottom: 1px solid rgb(184, 183, 183);
    display: flex;
    justify-content: center;
}

.tit-azienda{
    border-bottom: 1px solid rgb(184, 183, 183);
    display: flex;
    justify-content: center;
}

.enterprise-flex{
    border-style: groove;
    border-color:rgb(184, 183, 183);
    display: flex;
    flex-direction: column;
    padding: 3%;
    margin-bottom: 5%;
}

.tit-enterprise{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(184, 183, 183);
    margin-bottom: 5%;
}

.contatto-uff{
    display: flex;
    justify-content: space-between;
}

.bt-uff-vendite{
    background-color: #0061FE;
    color: white;
    border:  none;
    width: 200px;
    height: 40px;
}

.img-txt{
    /* border-color: #0061FE;
    border-style: groove; */
    display: flex;
    margin-bottom: 20%;
}

.img-txt img{
    height:300px;
}

.text-right-img{
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.tab-flex{
    /* border-color: red;
    border-style: groove; */
    display: flex;
    padding: 2%;
    margin-bottom: 20%;
}

.tab1{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.tab2{
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.tab3{
    display: flex;
    flex-direction: column;
    padding: 2%;

}

.fkex-dark{
    background-color: #000000;
    color: #fff;
}





